body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; 
    box-sizing: border-box;
}

.coluna_1 {        /*Página Contacto*/
    display: flex;
    flex-direction: column;
    
}

.ponto-x {
    display: flex;
}

.adress {          /*Página Contacto*/
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    gap: 2rem;
    border: 5px solid #111;

    background-color: blueviolet;
}


#end {             /*Página Contacto*/
    padding: 20px;
    font-size: 25px; 
}

.maps {            /*Página Contacto*/
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    border: 5px solid #111;

    background-color: blue;
}

#sobre_texto {    /*Página Contacto*/
    padding: 20px;
}

.coluna_2 {
    border: 5px solid #111;
    display:flex;
    flex-direction: column;
    width: 600px;
    
  }
  

