body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; 
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*_--**"Adicionamos umas fontes com o 'LINK' ACIMA" e " USAMOS *{ } para CONFIGURAR a TELA TODA"**-- */

header{
    display: flex;
    flex-direction: column;  
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    color: #FFF;
    text-shadow: 4px 4px 2px #000;
    line-height:6rem;
    margin-left:6rem;		
}
/*
h2{
    font-size: 40px;
    font-family: 'fira code', sans-serif;
    font-size: 40px;
    color: #FFF;
    text-shadow: 4px 4px 2px #000;
    line-height: 40px;
    margin-left: 20px;
}*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 0 2.4rem;
    height: 100px;
}

.logo {
    width:140px;
    height: 120px; 
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;       
    font-family: 'Roboto', sans-serif; 
}

ul {
    display: flex;
    gap: 3rem; /*** (3 rem é = a 30 px) ***/
}

ul a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

ul a:hover::after {
    width: 100%;      /* AQUI O (width: 100%; ) FAZ APARECER O SUBLINHADO AO PASSAR "O MOUSE SOBRE O MENU". */
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 20px;
    height: 50px;
    border: 2px solid #f44336;
    color: #fff;
    background-color: #f44336;                
    border-radius: .8rem;
    transition: .8s;                          
}

.button:hover {
    background-color: #FFF;
    color: #f44336;
}

#box {   
    display: flex;
    flex-direction: column;
    align-items: center;      
}

/* INÍCIO DA SECTION .COURSE (COURSE.HTML) */
.banner {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.row {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.banner-col {                /* A DIV (.course-col) vai estilizar as 3 Divs de uma só vez. */
    background: #d1ccc0;
    flex-basis: 31%;         /* Flex-basis: 31%; : =  ARRUMOU AS 3 DIVS, COM OS TEXTOS. */
    border-radius: 10%;
    padding: 20px 12px;        /* Padding: 20px 12px;  =  Espaço interno nas 3 DIVS. */
    box-sizing: border-box;    /* Box-sizing: border-box;  = Aumenta o espaço entre as 3 DIVS. */
    margin-bottom: 5%;        /* Margin-bottom: 5%;  =  Aumenta o espaço das 3 DIVS, com o elemento abaixo. */
    transition: 0.5s;         /* Para o efeito da Borda das Divs "APARECEREM." (.course-col:hover) */
}
h3 {              /* Vamos arrumar o título */
    text-align: center;    /* Alinhar o texto ao centro */
    font-weight: 600;      /* A espessura da letra */
    margin: 10px 0px;      /* As margens nas 4 extremidades */
    color: #000;
}
.banner-col:hover {        /* Vamos coloacar uma borda na DIV " Que aparece quando o curso passa por cima */
    box-shadow: 0 0 20px 0px;    
}


#sobre {             /*Sobre nós*/
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  
}

.w_music img {      /*Sobre nós*/
    width: 280vw;
    height: 300vw;
}

#sobre_nos {        /*Sobre nós*/
    display: flex;
    flex-direction: column;
}

h4 {
    width: 100%;
    text-transform: uppercase;	
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

#home {
    font-size: 40px;
    font-family: 'fira code', sans-serif;
    color: #000;
    margin-bottom: 10.2px;
}

.empresa {
    font-size: 24px; /*Sobre nós*/
}

#sobre_texto {          /*Sobre nós*/
    font-size: 20px;
    text-align: justify;
}

#sobre_texto span {      /*Sobre nós*/
    font-weight: bold;
}

.pgf {                 /*Catálogo*/
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #FFF;  
    padding: 0.6rem;
    border-radius: 15px;       

}

#escolha {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

select {                   /*Sobre nós*/
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #000;
}

#cadastro {
    background-color: #4cd137; /*Sobre nós*/
}


#text {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0%;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 26%;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 30px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 5s;
}

.slide img{
    width: 800px;
}

#botoes {
    background-color: #000;
}

.start{
    margin-left: 650px;
    margin-top: 5px;
    font-size: 20px;
    padding: 1px 15px;
    border: 2px solid #dfe4ea;
    border-style: outset;
    border-radius: 10px;/*Ficar arredondado*/
}

.start:hover{
    background-color:#4cd137;
}


.stop{
    margin-left: 80px;
    margin-top: 5px;
    font-size: 20px;
    padding: 1px 15px;
    border: 2px solid #dfe4ea;
    border-style: outset;
    border-radius: 10px;
}

.stop:hover{
    background-color:red;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    border: 2px solid #fff;
    opacity: 0;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #4834d4;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    opacity: 0;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 370px;
    display: flex;
    justify-content: center;   
}

aside {                       /*Sobre nós*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.cartaz {                        /*Sobre nós*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 5px 20px;
    height: 50px;
    text-align: 50px;
    border: 2px solid #3d3d3d;
    color: #FFF;
    background-color: #4b4b4b;                
    border-radius: .8rem;    
    margin-top: 1rem;                      
}

#equipamento {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#container {
    margin-top: 60px;
    display: inline-block;
    justify-content:space-between;	          
    width:100%;
    height:500px;			
}

/*#instrument {		
   width: 1300px;
   height: 400px;
   margin-left:200px;
   margin-top: 0px;
   margin-bottom:20px;		
}*/

.instrument {         /*Catálogo*/
    display: flex;	
    flex-direction: column;	
    align-items: center;
    justify-content: center;
    padding: 0 20px;

}

.fts_catalog {
    width: 220px;
    height: 200px;
}

#inst_1 {
    width: 1300px;
    height: 200px;
    margin-left:200px;
    margin-top: 30px;
    margin-bottom:0px;	
    gap: 10px;	
}

#inst_2 {
    width: 1300px;
    height: 200px;
    margin-left:200px;
    margin-top: 0px;
    margin-bottom:0px;		
}

#music {
   margin-left:40px;
   margin-right:40px;	    
}

#imagem{
   margin-bottom:10px;
   margin-top:10px;		
}

#p{
font-family:'Roboto', sans-serif;
font-size:20px;	
}

.opções {
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}


#local{
    display:block;		
    margin-bottom:80px;
    margin-left: 400px;
}

.lista{
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top:-15px;
    margin-bottom: 40px;
    color: #000;
}

/*Sobre começa aqui*/

.sobre {
    display: flex;
    margin-top: 3rem;
}

#ftstudio {
    width: 600px;
    height: 350px;
    margin-left: 4rem;
    border-radius: 10px;
}

.w_music {
    width: 100%;
}

.sobre-nos{
    width: 100%;
}

#sobre_texto{
    margin-right: 140px;
    margin-top: 4rem;
}

.fotos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    margin-top: 3rem;  
}

.foto_1 {
     width: 380px;
     height: 300px;
}

.foto_2 {
    width: 380px;
    height: 300px;
}

.foto_3 {
    width: 380px;
    height: 300px;
}

/*Aqui começa estilizar o footer*/

footer {
    background-color: #000;
    height: auto;
    width: 100vw;
    font-family: "open Sans";
    padding-top: 40px;
    color: #fff;   
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.footer-content h3 {
    margin-top: 6px;
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}

.footer-content p {
    min-width: 500px;
    margin: auto;
    line-height: 24px;
    font-size: 16px;  
    margin-bottom: 1rem; 
}

.rede_social {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.rede_social li {
    margin: 0;   
}

.rede_social a {
    text-decoration: none;
    color: #fff;   
}

.rede_social a i {
    font-size: 1.5rem; 
    transition: color .5s ease;   
}

.rede_social a:hover i {
    color:#f44336;;
}

.footer-bottom {
    background-color: #000;
    width: 100vw;
    padding: 10px;
    text-align: center;
}

.footer-bottom {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: captalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


